table tbody {
    display: block;
    /*height: 235px;*/
    /*overflow-y: auto;*/
}

table thead,
tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

table thead {
    width: calc( 100% )
}

.table thead tr td {
    border-top: 0px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-bottom: 1px solid #eff3f8 !important;
}
.table tbody tr td {
    border-top: 0px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-bottom: 1px solid #eff3f8 !important;
}
.table tfoot tr td {
    border-top: 0px;
}

table thead th {
    /*background: #fff;*/
}

/*悬浮图标*/
/*右下角悬浮图标*/
#ad-top,#ad-center,#ad-foot,#ad-lock{
    border: 1px solid #dcdcdc;
    border-bottom: 0px;
    width: 50px;
    height: 50px;
    background: #ffffff;
    position: fixed;
    right: 25px;
    bottom: 50px;
    text-align: center;
    padding-top: 11px;
    padding-left: 0px;
    font-size: 20px;
    cursor: pointer;
}

/*用户信息模态框*/
.userInfoDialog .modal-dialog{
    height:350px;
    width:440px;
}

.clockInfoDialog{z-index: 99999 !important;}

/*时钟信息模态框*/

.clockInfoDialog .modal-dialog{
    height:200px;
    width:440px;
}
/*日志信息模态框*/

.logInfoDialog .modal-dialog{
    height:180px;
    width:440px;
}
/*头像样式  */
#userphoto{
    width:80px;
    height:80px;
/*margin-top:15px;*/
}


.table-toolbar-search{
    height:32px;
}
