/*用户管理模态框  */
.userAddDialog .modal-dialog{
    height:497px;
    width:785px;
}
.passwordDialog .modal-dialog{
  height:208px;
  width:560px;
}
.authorityDialog .modal-dialog{
  height:179px;
  width:400px;
}
.manageAreaDialog .modal-dialog{
  height:512px;
  width:327px;
}
.exampointerDialog .modal-dialog{
  height:551px;
  width:560px;
}
.areaCommandDialog .modal-dialog{ 
  height:306px;
  width:415px;
}
.areaUpDialog .modal-dialog{
  height:530px;
  width:400px;
}
.endpointimport-dialog .modal-dialog{
  width: 450px;
  height: 300px;
  }
.table-toolbar-search{
  height:32px;
}
.btn-model-diy{width: 60px;} 
 
/*区域管理页面样式*/
.area-content{position: relative;height: 100%;margin-bottom: 0px}
.area-tree{width: 230px;position: absolute;top: 0px;left: 0px;height: 100%;overflow-y: auto;}
.area-table{margin-left: 25%;padding-left: 20px}
ul.nav-tabs-underline li.active a:focus{border: 0px;background-color: white;}
.area-tree{margin-top: -1px;width:25%;}
.area-tree .panel-body{padding-left: 14px;margin-top: 4px;}
.area-tree .title{font-size: 15px}
.area-tree .panel-heading{background-color: #f5f5f4; border: 0px;}
.area-tree .panel-default{border-radius: 2px; border-color: white; box-shadow: none;margin: 0px;}
.area-tree .btns{margin-right: -10px;}
.area-tree .font-btn{margin-right: 10px;cursor: pointer;}
.area-tree .update{font-size: 16px}


/* 头像样式 */

#PHOTO{
    filter: alpha(opacity = 0);
    opacity: 0;
    cursor: pointer;
    width: 100px;
    height: 30px;
    margin-top: -20px;
    margin-left: -70px;
  
}
#preview{
    width: 85px;
    height: 90px;
    margin-left: 126px;
    margin-top:-12px; 
}
#btnGroup{
    width: 71px;
    margin-top: 3px;
    margin-left: 134px;
}

#uploadUserPhoto , #deleteUserPhoto{
    width: 33px;
    padding-left: 3px;
    height: 25px;
    padding-top: 2px;
}