/*icon*/
.wgt{
    position: fixed;
    display: block;
    bottom: 60px;
    right: 15px;
}

.wgt:hover{
    position: fixed;
    display: block;
    bottom: 20px;
    right: 15px;
}

.wgt-exp-share{
    display: none;
    width: 50px;
    height: 159px;
    z-index:9999;
    position: absolute;
}

.wrp-exp-share{
    display: block;
    width: 50px;
    height: 50px;
    text-align: center;
    background: #9ce290 url(../img/wgt-design-50.png) no-repeat;
    margin-bottom: 3px;
    text-decoration: none;
    outline: 0;
}

.wgt-up{
    position: fixed;
    display: block;
    bottom: 118px;
    right: 15px;
}

.wrp-exp-share-up{
    display: block;
    width: 50px;
    height: 50px;
    text-align: center;
    background: #9ce290 url(../img/wgt-person-50.png) no-repeat;
    margin-bottom: 3px;
    text-decoration: none;
    outline: 0;
}
.wgt-up2{
    position: fixed;
    display: block;
    bottom: 168px;
    right: 15px;
}

.wrp-exp-share-up2{
    display: block;
    width: 50px;
    height: 50px;
    text-align: center;
    background: #9ce290 url(../img/wgt-things-50.png) no-repeat;
    margin-bottom: 3px;
    text-decoration: none;
    outline: 0;
}

/*icon sm 30x30*/
.wgt-sm{
    position: fixed;
    display: block;
    bottom: 40px;
    right: 15px;
}

.wgt-sm:hover{
    position: fixed;
    display: block;
    bottom: 40px;
    right: 15px;
}

.wgt-sm-exp-share{
    display: none;
    width: 30px;
    height: 40px;
    z-index:9999;
    position: absolute;
}

.wrp-sm-exp-share{
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    background: #9ce290 url(../img/wgt-design-30.png) no-repeat;
    margin-bottom: 3px;
    text-decoration: none;
    outline: 0;
}

.wgt-sm-up{
    position: fixed;
    display: block;
    bottom: 72px;
    right: 15px;
}

.wrp-sm-exp-share-up{
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    background: #9ce290 url(../img/wgt-person-30.png) no-repeat;
    margin-bottom: 3px;
    text-decoration: none;
    outline: 0;
}
.wgt-sm-up2{
    position: fixed;
    display: block;
    bottom: 104px;
    right: 15px;
}

.wrp-sm-exp-share-up2{
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    background: #9ce290 url(../img/wgt-things-30.png) no-repeat;
    margin-bottom: 3px;
    text-decoration: none;
    outline: 0;
}
